{
  "presets": [
      "next/babel"
    ],
  "plugins": [
    ["import", { "libraryName": "antd", "libraryDirectory": "lib"}, "antd"],
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ]
  ]
}